<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ArcanaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/arcanaai_logo"
        android:label="AI 타로 : aracanaai"
        android:roundIcon="@drawable/arcanaai_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arcanaai">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="AI 타로 : aracanaai"
            android:theme="@style/Theme.Arcanaai">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 로그인 설정 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:scheme="849a47b651b817f2cabd77f9055fb485" android:host="oauth"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
